.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 8.5rem auto 0;
  
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
  transition: 0.2s;
}

.avatar span:hover {
  transform: scale(1.1);
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  transform: translateZ(20px);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 5rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      color: var(--gray);
    }

    input {
      height: 1.75rem;
      border-radius: 8px;
    }

    button {
      border-radius: 8px;
      color: var(--gray);
      background: var(--black);
      border: 1px solid var(--gray);
      height: 1.75rem;
      transition: 0.2s;
    }

    button:hover {
      filter: brightness(0.9);
    }
  }
}